<div [@routerTransition]>
    <app-page-header [pageheader]="pageheader"></app-page-header>
    <div class="row">
        <div class="col-12">
            <table class="lead-info-table table table-bordered">
                <tbody class="lead-info-table-body">
                    <tr id="lead-owner" class="lead-info-table-row">
                        <td class="lead-info-table-cell">
                            Lead Owner
                        </td>
                        <td class="lead-info-table-cell">
                            <app-inline-edit [(ngModel)]="lead.owner" [required]="true" [type]="'text'">
                            </app-inline-edit>
                        </td>
                    </tr>
                    <tr id="lead-email" class="lead-info-table-row">
                        <td class="lead-info-table-cell">
                            Email
                        </td>
                        <td class="lead-info-table-cell">
                            <app-inline-edit [(ngModel)]="lead.email" [required]="true" [type]="'text'">
                            </app-inline-edit>
                        </td>
                    </tr>
                    <tr id="lead-phone" class="lead-info-table-row">
                        <td class="lead-info-table-cell">
                            Phone
                        </td>
                        <td class="lead-info-table-cell">
                            <app-inline-edit [(ngModel)]="phone" [required]="true" [type]="'text'">
                            </app-inline-edit>
                        </td>
                    </tr>
                    <tr id="lead-mobile" class="lead-info-table-row">
                        <td class="lead-info-table-cell">
                            Mobile
                        </td>
                        <td class="lead-info-table-cell">
                            <app-inline-edit [(ngModel)]="phone" [required]="true" [type]="'text'">
                            </app-inline-edit>
                        </td>
                    </tr>
                    <tr id="lead-status" class="lead-info-table-row">
                        <td class="lead-info-table-cell">
                            Lead Status
                        </td>
                        <td class="lead-info-table-cell">
                            <app-inline-edit [(ngModel)]="lead.isActive" [required]="true" [type]="'text'">
                            </app-inline-edit>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
