<div [@routerTransition]>
    <app-page-header [pageheader]="pageheader"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <!--<div class="card-header">-->
                    <!--Basic example-->
                <!--</div>-->
                <div class="card-block table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><i class="fa fa-check" aria-hidden="true"></i></th>
                                <th>Lead Name</th>
                                <th>Company</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Lead Source</th>
                                <th>Lead Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lead of leads">
                                <th scope="row"><input type="checkbox" /></th>
                                <td>
                                    <strong>{{lead.firstName}} {{lead.lastName}}</strong> <small>Id: {{lead.id}}</small>
                                    <div class="row-actions">
                                        <span class="edit">
                                            <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/leads', lead.id]">View</button>
                                        </span>
                                    </div>
                                </td>
                                <td>{{lead.company}}</td>
                                <td>{{lead.primaryEmail}}</td>
                                <td>{{lead.primaryPhone | phone}}</td>
                                <td>{{lead.source}}</td>
                                <td>{{lead.owner}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>